<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <link href="/styles/reviewsStyle.css" rel="stylesheet">
    <title>A List of All Available Reviews</title>
</head>
<body>

<header>
    <h1>A List of All Reviews</h1>
</header>

<main>
    <container class="reviews">
        <ul>

            <li th:each="review: ${reviewsModel}"><a class="reviews" th:href="@{/review(id=${review.id})}"
                                                     th:text="${review.title}"></a></li>

        </ul>
    </container>

</main>
</body>

</html>
<footer>
    <span>&copy AA 2022</span>
</footer>
