<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="${reviewModel.title}"></title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.title}"></h1>
</header>

<main>
    <ul>
        <p><a href="/review">Reviews</a></p>
        <li th:each="review: ${reviewModel}"><a class="product" th:href="@{/review(id=${review.id})}"
                                                th:text="${review.title}"></a></li>
    </ul>

</main>
</body>
<footer>
    <small>&copy AA 2022</small>
</footer>
</html>
