<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <link href="" rel="stylesheet">
    <title th:text="${reviewModel.title}"></title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.title}"></h1>
</header>

<main>
    <ul>

        <li th:text="${reviewModel.title}"></li>

        <li th:text="${reviewModel.reviewCategory}"></li>

        <img th:src="${reviewModel.imageUrl}"></img>


        <li th:text="${reviewModel.description}"></li>

        <p><a href="/reviews">Go Back</a></p>
    </ul>

</main>
</body>
<footer>
    <small>&copy AA 2022</small>
</footer>
</html>
